.datail-type-margin{
    margin-right:30px;
}
.textDetail{
    margin-top:7px;
}
.no-margin-top{
    margin-top:0!important;
}
.detailMargin{
    margin-top:10px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}