.btn-files {
  position: relative;
  overflow: hidden;
}
.btn-files input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

#img-upload {
  width: 100%;
}
.from-group {
  margin-top: 30px;
}
.paddingPanel {
  padding-top: 75px;
}
.marginProfile {
    margin-top: 30px;;
}

.login-margin{
  margin-top: 20%;
}
.deliverry-detail{
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px
}